body {
	background: #cfcfcf;
	font-family: verdana, 'sans serif';
}
.wrapper {
	width: 960px;
	margin: 0px auto;
}
.form__wrapper {
	width: 800px;
	margin: 0px auto;
	padding: 45px;
	background: #fff;
}
.title {
	margin: 5px auto;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
form {
	margin-top: 37px;
}
.list {
	margin: 35px 25px 10px;
	line-height: 20px;
	font-size: 110%;
}
.list__item {
	margin-left: 30px;
	line-height: 24px;
	font-size: 90%;
}
label {
	margin-left: 6px;
}
input[type="checkbox"] {
	margin-left: -7px;
	vertical-align: middle;
}
.submit, 
.button__close {
	display: block;
	margin: 40px 170px;
	text-align: center;
	padding: 13px 40px;
	background: rgba(158, 223, 235, 0.42);
	border: 3px solid grey;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	font-size: 120%;
}
.submit:hover {
	background: rgba(158, 223, 235, 0.52);
	border: 3px solid #191818;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	color: #322C90;
}
.modal {
	position: relative;
	width: 570px;
	height: 350px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__title {
	margin: 20px auto; 
	font-size: 20px;
	font-weight: bold;
	color: #545433;
}
.modal__list {
	padding: 15px 0px 0px 80px;
}
.modal__item {
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}
.modal__congr {
	margin-top: 20px;
	font-size: 15px;
	color: #1D2D9A;
	font-weight: bolder;
}